{% extends 'base.html.twig' %}

{% block body %}

{% for person in personList %}

  <p>
    {% if personSelectable is defined and  personSelectable == true %}
      <input type="radio" name="person" id="{{ person.id }}" >
    {% endif %}
    {{ 'name'|trans }} {{ person.title }}: {{ person.lastName }}, {{ person.firstName }}
    <button onclick="window.location.href='{{ path("person_edit", {"id": person.id}) }}'">
      {{ 'edit'|trans }}
    </button>
  </p>
  
  <h5>{{ 'addresses'|trans }}</h5>
  <ul>
    {% for address in person.addresses() %}
    <li>{{ address.type }}: {{ address.addressLine1 }}, {{ address.addressLine2 }}</li>
    {% endfor %}
  </ul>

{% endfor %}
{% endblock %}

