{% extends 'base.html.twig' %}

{% block title %}
  {{ 'person.show'|trans }}
{% endblock %}

{% block body %}
  <h3>{{ 'person.show'|trans }}</h3>
  <p>{{ 'person.title'|trans }}: {{ person.title }}</p>
  <p>{{ 'person.first.name'|trans }}: {{ person.firstName }}</p>
  <p>{{ 'person.last.name'|trans }}: {{ person.lastName }}</p>
  <h5>{{ 'addresses'|trans }}</h5>
  <ul>
    {% for address in person.addresses() %}
    <li>{{ address.type }}: {{ address.addressLine1 }}, {{ address.addressLine2 }}</li>
    {% endfor %}
  </ul>
{% endblock%}
