<!DOCTYPE html>
<html>
    <head>
 
        <meta charset="UTF-8" />
        
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
             <style>
                 #nav-menu li { display: inline-block; }
                 #nav-menu li li { display: inline; }
                 footer {
                   position: absolute;
                   bottom: 0;
                   height: 100px;
                   width: 100%;
                   text-align: center;
                 }
             </style>
            <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>

        {% block header %}
            {% if ignoreHeader is not defined %}
            <header>
            <ul id="nav-menu">
                <li><div><a href="{{ path("homepage") }}">{{ 'menu.home'|trans }}</a></div></li>
                <li><div>{{ 'menu.person'|trans }}</div>
                    <ul>
                        <li><div><a href="{{ path('person_new') }}">{{ 'menu.person.add'|trans }}</a></div></li>
                        <li><div><a href="{{ path('person_search') }}">{{ 'menu.person.search'|trans }}</a></div></li>
                    </ul>
                </li>
                <li><div>{{ 'menu.company'|trans }}</div>
                     <ul>
                         <li><div><a href="{{ path('company_new') }}">{{ 'menu.company.add'|trans }}</a></div></li>
                         <li><div><a href="{{ path('company_search') }}">{{ 'menu.company.search'|trans }}</a></div></li>
                    </ul>
                </li>
                <li><div>{{ 'menu.product'|trans }}</div>
                     <ul>
                         <li><div><a href="{{ path('product_new') }}">{{ 'menu.product.add'|trans }}</a></div></li>
                         <li><div><a href="{{ path('product_search') }}">{{ 'menu.product.search'|trans }}</a></div></li>
                    </ul>
                </li>
                <li><div>{{ 'menu.inventory'|trans }}</div>
                     <ul>
                         <li><div><a href="{{ path('inventory_new') }}">{{ 'menu.inventory.add'|trans }}</a></div></li>
                         <li><div><a href="{{ path('inventory_search') }}">{{ 'menu.inventory.search'|trans }}</a></div></li>
                    </ul>
                </li>
            </ul>
            </header>
            {% endif %}
        {% endblock%}

        {% block body %}{% endblock %}

        {% block sidebar %} {% endblock %}

        {% block footer %}
          {% if ignoreFooter is not defined %}
          <footer>&copy; Copyright 2017</footer>
          {% endif %}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/jquery-ui.js') }}"></script>
            <script type="text/javascript">
                $(function(){
                    $("#nav-menu").menu();
                    $('input').addClass("ui-widget ui-widget-content ui-corner-all");
                    $('button').addClass("ui-button ui-widget ui-corner-all");
                });
            </script>
        {% endblock %}

    </body>
</html>
