{% extends 'base.html.twig' %}

{% block title %}
  {% trans %}Show Person{% endtrans %}
{% endblock %}

{% block body %}
  <p>{% trans %}Title:{% endtrans %} {{ person.title }}</p>
  <p>{% trans %}First Name:{% endtrans %} {{ person.firstName }}</p>
  <p>{% trans %}Last Name:{% endtrans %} {{ person.lastName }}</p>
  <ul>
    {% for address in person.addresses() %}
    <li>{{ address.type }}: {{ address.addressLine1 }}, {{ address.addressLine2 }}</li>
    {% endfor %}
  </ul>
{% endblock%}
