<h3>{% trans %}Search Result{% endtrans %}</h3>
{% for person in personList %}
  <p>{% trans %}Name:{% endtrans %} {{ person.title }}: {{ person.lastName }}, {{ person.firstName }}</p>
  <ul>
    {% for address in person.addresses() %}
    <li>{{ address.type }}: {{ address.addressLine1 }}, {{ address.addressLine2 }}</li>
    {% endfor %}
  </ul>
{% endfor %}
