{% extends 'base.html.twig' %}

{% block title %}
  {{ 'product.show'|trans }}
{% endblock %}

{% block body %}
  <p>{{ 'product.upc'|trans }}: {{ product.UPC }}</p>
  <p>{{ 'product.name'|trans }}: {{ product.name }}</p>
  <p>{{ 'product.description'|trans }}: {{ product.description }}</p>
{% endblock%}
