{% extends 'base.html.twig' %}

{% block title %}
  {{ 'company.show'|trans }}
{% endblock %}

{% block body %}
  <h3>{{ 'company.show'|trans }}</h3>
  <p>{{ 'company.name'|trans }}: {{ company.name }}</p>
  <h5>{{ 'addresses'|trans }}</h5>
  <ul>
    {% for address in company.addresses() %}
    <li>{{ address.type }}: {{ address.addressLine1 }}, {{ address.addressLine2 }}</li>
    {% endfor %}
  </ul>
{% endblock%}
