{% extends 'base.html.twig' %}

{% block title%}
  {{ 'company.new'|trans }}
{% endblock%}

{% block body %}
 
  <h3>{{ 'company.new'|trans }}</h3>

  {# TEST ONLY for JQuery UI (class attribute) #}
  {{ form_start(form, {'attr':{'class':'ui-widget'}}) }}
    {{ form_row(form.name) }}
    <h5>{{ 'addresses'|trans }}</h5>
    <div class="addresses" data-prototype="{{ form_widget(form.addresses.vars.prototype)|e('html_attr') }}">
    </div>
  {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

  {{ parent() }}

  <script type="text/javascript">

    $(function() {

      var $collectionHolder = $('.addresses');

      // Setup "add new address" link
      var $addAddressLink = $("<a href='#' class='add_address_link'>{{ 'button.address.add'|trans }}</a>");
      var $newLinkDiv = $('<div></div>').append($addAddressLink);
      $collectionHolder.append($newLinkDiv);

      // count the current form inputs we have (e.g. 2), use that as the new
      // index when inserting a new item (e.g. 2)
      $collectionHolder.data('index', $collectionHolder.find(':input').length);

      $addAddressLink.on('click', function(e) {
        
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        var prototype = $collectionHolder.data('prototype');
        var index = $collectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        var $newFormDiv = $('<div></div>').append(newForm);
        $newLinkDiv.before($newFormDiv);

      });

    });

  </script>

{% endblock %}
