{% extends 'base_widget.html.twig' %}

{% block widget %}
  <p>{{ 'company.name'|trans }}: {{ company.name }}</p>
  <h5>{{ 'addresses'|trans }}</h5>
  <ul>
    {% for address in company.addresses() %}
    <li>{{ address.type }}: {{ address.addressLine1 }}, {{ address.addressLine2 }}</li>
    {% endfor %}
  </ul>
{% endblock%}
