{% extends 'base_widget.html.twig' %}

{% block widget %}

  {% for company in companyList %}

    <p>
      {% if selectable is defined and selectable == true %}
        <input type="radio" name="company" id="{{ company.id }}" >
      {% endif %}
      {{ 'company.name'|trans }} {{ company.name }}
    </p>

    <h5>{{ 'addresses'|trans }}</h5>
    <ul>
      {% for address in company.addresses() %}
        <li>{{ address.type }}: {{ address.addressLine1 }}, {{ address.addressLine2 }}</li>
      {% endfor %}
    </ul>

  {% endfor %}

{% endblock %}

{% block javascripts %}

  {{ parent() }}

  <script type="text/javascript">
    var selectedCompanyId;
    $("input[name='company']:radio").change(function() { 
        selectedCompanyId = $(this).attr("id");
    })  
  </script>

{% endblock %}

