{% extends 'base.html.twig' %}

{% block title %}
  {{ 'inventory.show'|trans }}
{% endblock %}

{% block body %}
  <h3>{{ 'inventory.show'|trans }}</h3>
  <p>{{ 'vendor'|trans }}: {{ inventory.vendor.Name }}</p>
  <p>{{ 'vendor.product.name'|trans }}: {{ inventory.vendorProductName }}</p>
  <p>{{ 'product.name'|trans }}: {{ inventory.product.name }}</p>
  <p>{{ 'quantity'|trans }}: {{ inventory.quantity }}</p>
{% endblock%}
