{% extends 'base.html.twig' %}

{% block title%}
  {{ 'inventory.new'|trans }}
{% endblock%}

{% block body %}

  <h3>{{ 'inventory.new'|trans }}</h3>

    <p> 
    <button id="select_vendor">{{ 'button.inventory.select.vendor'|trans }}</button>
    <div id="vendor_dialog">
      {% include 'company/company_search.html.twig' with {'selectable' : true, 'ignoreHeader' : true, 'ignoreFooter' : true} %}
    </div>
    <div id="vendor"></div>

    <button id="select_product">{{ 'button.inventory.select.product'|trans }}</button>
    <div id="product_dialog">
      {% include 'product/product_search.html.twig' with {'selectable' : true, 'ignoreHeader' : true, 'ignoreFooter' : true} %}
    </div>
    <div id="product"></div>
    </p>

  <form id="newInventory" action="/inventory/new" method="POST">

    <p>
      <label for="vendor_product_name">{{ 'vendor.product.name'|trans }}:</label>
      <input type="text" id="vendor_product_name" name="vendor_product_name">
    </p>
    
    <p>
      <label for="quantity">{{ 'quantity'|trans }}:</label>
      <input type="number" id="quantity" name="quantity" min="1">
    </p>

    <p>
      <input id="submit" type="submit" value="Save">
    </p>

  </form>

{% endblock %}

{% block javascripts %}

  {{ parent() }}

  <script type="text/javascript">

    productDialog = $( "#product_dialog" ).dialog({
      autoOpen: false,
      height: 700,
      width: 900,
      modal: true,
      buttons: {
        "Ok": function(){
          productDialog.dialog( "close" );
          $.ajax({
            type: "POST",
            url: "/product/show/" + selectedProductId,
            data: {"id": selectedProductId, 'ignoreHeader': true, 'ignoreFooter': true },
            success: function(response) {
              $("#product").html(response);
              $('#newInventory').append("<input type='hidden' name='productId' value='" + selectedProductId + "' />");
            }   
          }); 
        },
        Cancel: function() {
          productDialog.dialog( "close" );
        }
      },
    });
    $( "#select_product" ).button().on( "click", function(e) {
      e.preventDefault();
      productDialog.dialog( "open" );
    });

    vendorDialog = $( "#vendor_dialog" ).dialog({
      autoOpen: false,
      height: 700,
      width: 900,
      modal: true,
      buttons: {
        "Ok": function(){
          vendorDialog.dialog( "close" );
          $.ajax({
            type: "POST",
            url: "/company/show/" + selectedCompanyId,
            data: {"id": selectedCompanyId, 'ignoreHeader': true, 'ignoreFooter': true },
            success: function(response) {
              $("#vendor").html(response);
              $('#newInventory').append("<input type='hidden' name='companyId' value='" + selectedCompanyId + "' />");
            } 
          }); 
        },
        Cancel: function() {
          vendorDialog.dialog( "close" );
        }
      },
    });
    $( "#select_vendor" ).button().on( "click", function(e) {
      e.preventDefault();
      vendorDialog.dialog( "open" );
    });

    $("#submit").button().on("click", function(e){
      $("#newInventory").submit();
      return true;
    });

  </script>
{% endblock%}
